<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>     
        <span>Django CRUDアプリ</span>
        <br>

        <!-- ログイン済ユーザー -->
        {% if request.user.is_authenticated %}        
            <span>ようこそ{{user.get_username}}</span><br>

            <a href="{% url 'comm_create' %}">コメント新規作成</a>
            <a href="{% url 'home' %}">相談する</a>
            <a href="{% url 'home' %}">マイプロフィール</a>


            <!-- ログアウトボタン -->
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button>ログアウト</button>
            </form>

            
        <!-- 未ログインユーザー -->
        {% else %}
            <a>ログインしてください</a>
        {% endif %}
        <br>

    </header>
    {% block content %}
    {% endblock %} 
</body>
</html>

