{% extends "base.html" %}
 
<!-- titile -->
 {% block title %}コメント画面{% endblock %}
 
<!-- content -->
 {% block content %}
   
 <table border="1">


     <!-- すべてのオブジェクトに対して繰り返し -->
     {% for comment in object_list %}
     <tr>
         <td>コメントID:{{ comment.comment_id }}</td>
         <td>コメントカテゴリ:{{ comment.category }} </td>
         <td>コメントの内容:{{ comment.content }} </td>
     </tr>
     {% endfor %}   
 </table>
 <a href="{% url 'comm_create' %}">新規作成</a>
 
 <!-- コメントアウト -->
 {% comment %}
 {% endcomment %}

 {% endblock %}
