{% extends "base.html" %}
 
<!-- titile -->
 {% block title %}コメント画面{% endblock %}
 
<!-- content -->
 {% block content %}






















 
 


 <table border="1">
     <!-- すべてのオブジェクトに対して繰り返し -->
     {% for comment in object_list %}
     <tr>
         <td>投稿時刻:{{ comment.datetime }}</td>
         <td>コメントカテゴリ:{{ comment.category }} </td>
         <td>コメントの内容:{{ comment.content }} </td>
     </tr>
     {% endfor %}  
 </table>
 <a href="{% url 'comment_create' %}">新規作成</a>
 
 
 
 
 
 <button class="message">テストボタン!</button>
 
 
 










 <!-- jQueryライブラリ。 -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
 <script>
    $(() => {

        const button = $('.message');
        const data = {
            test1: "送信メッセージ１" ,
            test2: "送信メッセージ２" ,
        }
        
        
        button.on('click', async() =>{
            //console.log("テストボタンがクリックされた!")
            try{
                const response = await fetch('/comment/' , {
                    method : 'POST',
                    headers : {
                        'X-CSRFToken': '{{ csrf_token }}' ,
                        'Content-Type': 'application/json' ,
                    },
                    body : JSON.stringify(data)
                })
               
                const jsonresponse = await response.json()
                console.log(jsonresponse.message)
 
            } catch (error){
                // ネットワークエラーまたはHTTPエラーの処理
                console.error('エラー:', error);
            }
        })

        // 普通、したにあるかんすうなので後に実行されるが、上にあるやつが非同期処理っでレスポンスを待って実行されるので、同期処理であるこちらが速く実行される。
        button.on('click', async() =>{
            console.log("あああ！")
           
        })
        button.on('click', async() =>{
            console.log("いいい！")
           
        })

        

    });
 </script>

 {% endblock %}
