{% extends "base.html" %}
 
<!-- titile -->
 {% block title %}コメント画面{% endblock %}
 
<!-- content -->
 {% block content %}






















 
 
 



 <table border="1">
     <!-- すべてのオブジェクトに対して繰り返し -->
     {% for comment in object_list %}
     <tr>
         <td>投稿時刻:{{ comment.datetime }}</td>
         <td>コメントカテゴリ:{{ comment.category }} </td>
         <td>コメントの内容:{{ comment.content }} </td>
     </tr>
     {% endfor %}  
 </table>
 <a href="{% url 'comment_create' %}">新規作成</a>
 
 
 <button class="message">テストボタン!</button>
 <button class="message-post">postテストボタン!</button>

 
 










 <!-- jQueryライブラリ。 -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
 <script>
    $(() => {
        //console.log('{{user.username}}')
        
        const data = {aaa: "bbb"}
        
        const button_submit = $('.message');
        button_submit.on('click', async() =>{
            console.log("ボタンがクリックされた!")
            const response = await fetch('/search/' , {
                method : 'POST',
                headers : {
                    'X-CSRFToken': '{{ csrf_token }}' ,
                    'Content-Type': 'application/json' ,
                },
                body : JSON.stringify(data)
            })

        });
        
        const button2 = $('.message-post');
        button2.on('click', async() =>{
            console.log("ボタン2がクリックされた!")
            const response = await fetch('/comment/' , {
                method : 'POST',
                headers : {
                    'X-CSRFToken': '{{ csrf_token }}' ,
                    'Content-Type': 'application/json' ,
                },
                body : JSON.stringify(data)
            })

        });

    });
 </script>

 {% endblock %}
